<!DOCTYPE html>
<html>
  <!-- prettier-ignore -->
  <%- include("partials/head") %> 
  <%- include("partials/body-open") %>
  <%- include("partials/navbar") %>
  <main class="container mt-5">
    <h1>Yelp Camp</h1>
  </main>
  <!-- prettier-ignore -->
  <%- include("partials/footer") %>
  <%- include("partials/body-close") %>
</html>
