<!DOCTYPE html>
<html>
  <!-- prettier-ignore -->
  <%- include("../partials/head") %>
  <%- include("../partials/body-open") %>
  <%- include("../partials/navbar") %>
  <%- include("../partials/main-open") %>
  <!-- <main class="container mt-5"> -->
  <h1 class="mb-3">Create New Campground</h1>
  <form
    class="needs-validation"
    action="/campgrounds/<%= campground.id %>?_method=PUT"
    method="POST"
    novalidate
  >
    <div class="mb-3">
      <label for="title" class="form-label">Title:</label
      ><input
        required
        placeholder="Title"
        name="title"
        id="title"
        class="form-control"
        value="<%= campground.title %>"
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please choose a username.</div>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image URL:</label
      ><input
        required
        placeholder="Image URL"
        name="image"
        id="image"
        class="form-control"
        value="<%= campground.image %>"
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please choose a username.</div>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price:</label
      ><input
        required
        placeholder="Price"
        type="number"
        name="price"
        id="price"
        class="form-control"
        value="<%= campground.price %>"
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please choose a username.</div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description:</label>
      <textarea
        required
        placeholder="Description"
        name="description"
        id="description"
        class="form-control"
      >
<%= campground.description %></textarea
      >
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please choose a username.</div>
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">Location:</label
      ><input
        required
        placeholder="Location"
        name="location"
        id="location"
        class="form-control"
        value="<%= campground.location %>"
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please choose a username.</div>
    </div>
    <button class="btn btn-primary" type="submit">Edit</button>
  </form>
  <%- include("../partials/main-close") %>
  <!-- </main> -->
  <script>
    (() => {
      "use strict";

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll(".needs-validation");

      // Loop over them and prevent submission
      Array.from(forms).forEach((form) => {
        form.addEventListener(
          "submit",
          (event) => {
            if (!form.checkValidity()) {
              event.preventDefault();
              event.stopPropagation();
            }

            form.classList.add("was-validated");
          },
          false
        );
      });
    })();
  </script>
  <!-- prettier-ignore -->
  <%- include("../partials/footer") %>
  <%- include("../partials/body-close") %>
</html>
